﻿<!-- Top Navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand text-white" role="button">CollabML</a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="btn-link" data-ng-click="logOut()" role="button">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main body container -->
<div id="page">
    <!--<div class="row">-->
    <!-- Left menu -->
    <div id="left-navbar" class="navbar-side">
        <div class="container-fluid">

            <h4>Elementos</h4>
            <joint-diagram width="150" height="400" graph="elementsGraph" interactive="false"></joint-diagram>

            <h4>Relaciones</h4>
            <joint-diagram width="150" height="200" graph="linksGraph" interactive="false"></joint-diagram>
        </div>
    </div>

    <div id="right-bar" class="col-xs-2 navbar-side navbar-side-right" ng-if="selectedItem">
        <form>
            <div class="form-group">
                <h4>Elemento Seleccionado</h4>
                <button class="close navbar-hamburger" ng-click="closeSelected()"><span class="glyphicon glyphicon-remove-circle"></span></button>
            </div>
            <div class="form-group">
                <label for="name">Nombre</label>
                <input class="form-control" id="name" type="text" ng-model="selectedItem.Name" />
            </div>

            <div class="form-group" ng-if="selectedItem.ClassTypeId != 3">
                <label>Atributos</label>
                <div ng-repeat="attribute in selectedItem.Attributes track by $index">
                    <div class="input-group form-group">
                        <input class="form-control" type="text" ng-model="attribute.Name" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="deleteAttribute($index)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <i class="help-block" ng-if="!selectedItem.Attributes.length">Sin atributos</i>
                <div class="input-group">
                    <input type="text" class="form-control form-group" placeholder="Nuevo attributo..." ng-model="selectedItem.newAttribute" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="addAttribute(selectedItem.newAttribute)" ng-disabled="!selectedItem.newAttribute">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label>Métodos</label>
                <div ng-repeat="method in selectedItem.Methods track by $index">
                    <div class="input-group form-group">
                        <input class="form-control" type="text" ng-model="method.Name" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="deleteMethod($index)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <i class="help-block" ng-if="!selectedItem.Methods.length">Sin métodos</i>
                <div class="input-group">
                    <input type="text" class="form-control form-group" placeholder="Nuevo método..." ng-model="selectedItem.newMethod" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="addMethod(selectedItem.newMethod)" ng-disabled="!selectedItem.newMethod">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" ng-click="saveItem()">Guardar</button>
                <button class="btn btn-danger" ng-click="deleteItem()">Borrar</button>
            </div>

        </form>
    </div>

    <!-- Content div. Load the partial views here -->
    <div id="content">

        <div class="container-fluid">
            <!-- alerts container -->
            <div class="row" ng-controller="AlertController">
                <div class="col-sm-12">
                    <alert type="danger" close="closeAlert()" collapse="!error" dismiss-on-timeout="5">
                        {{errorMessage}}
                        <ul ng-show="modelErrors">
                            <li ng-repeat="error in modelErrors">{{error.ErrorMessage}}</li>
                        </ul>
                    </alert>
                </div>
            </div>

            <div class="row mt-half" ng-if="loading">
                <div class="container">
                    <progressbar class="progress-striped active progress-bar-lg" type="info" value="100" />
                </div>
            </div>
                        
            <joint-diagram id="board-diagram" ng-if="!loading" width="'100%'" height="'900'" graph="boardGraph"></joint-diagram>                
        </div>
    </div>
</div>
