﻿<div id="login-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <a href="#/signup" type="button" class="btn btn-primary btn-lg pull-right">Regístrate</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="login-form-container" class="col-xs-6 col-md-6 col-md-offset-3 col-xs-offset-3">
                <h2 class="text-center">Inicia sesión en CollabML</h2>
                <form class="form-signin" data-ng-submit="login()">

                    <div class="alert alert-danger" data-ng-class="alert" data-ng-show="message" role="alert">
                        {{message}}
                    </div>
                    
                    <div class="form-group">
                        <input class="fs-input form-control" type="text" placeholder="Email" name="email" required data-ng-model="loginData.userName" />
                        <input class="fs-input form-control" type="password" placeholder="Contraseña" name="password" required data-ng-model="loginData.password" />
                    </div>
                    <button ng-hide="loading" class="btn btn-primary btn-block" type="submit">Iniciar Sesión</button>                    
                    <progressbar ng-show="loading" class="progress-striped active progress-bar-lg" type="info" value="100" />
                </form>
            </div>
        </div>
    </div>
</div>
