﻿<div id="login-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <a href="#/login" type="button" class="btn btn-lg btn-primary pull-right">Iniciar Sesión</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="login-form-container" class="col-xs-6 col-md-6 col-md-offset-3 col-xs-offset-3">

                <h2 class="text-center">Crea tu cuenta en CollabML</h2>

                <form class="form-signin" data-ng-submit="signup()" role="form">

                    <div class="alert alert-danger" data-ng-show="errors.length" data-ng-class="alert">
                        <ul>
                            <li data-ng-repeat="error in errors">{{error}}</li>
                        </ul>
                    </div>

                    <div class="alert alert-success" data-ng-show="success">
                        {{message}}
                    </div>

                    <div data-ng-hide="success">
                        
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Nombre" required data-ng-model="signupData.name" />
                                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Apellido" required data-ng-model="signupData.surname" />
                                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Email" required data-ng-model="signupData.userName" />
                                <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="password" placeholder="Contraseña" required data-ng-model="signupData.password" />
                                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-block" type="submit">Regístrate</button>
                    </div>
                    
                    <a href="#/login" type="button" class="btn btn-lg btn-primary btn-block" data-ng-show="success">Iniciar Sesión</a>

                </form>
            </div>
        </div>
    </div>
</div>
