﻿body {
    padding-top: 50px;
    height: 100%;
    overflow-y: hidden;
}

#page {
    width: 100%;    
}

#content {
    margin-left: 220px;    
}

#login-body {
    background-color: #F0F0F0;
    height: 100%;
    width: 100%;
    margin-top: -50px;
    padding-top: 20px;
    position: fixed;
}

#login-form-container {
    margin-top: 150px;
}

.form-signin {
    background-color: rgba(0,0,0,0.1);    
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.form-signin .fs-input.form-control{    
    margin-bottom: -1px;
    position: relative;
    box-sizing: border-box;
}

.form-signin .fs-input.form-control:focus {
    z-index: 2;
}

.form-signin .fs-input.form-control:not(:last-of-type){
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin .fs-input.form-control:last-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;    
}

.progress-bar-lg {
    height: 32px;
}

.mt-half {    
    margin-top: 30%;
}

.alert-shake {
    position: relative;
    -webkit-animation-name: alert-shake;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 2;
}

@-webkit-keyframes alert-shake {
    0% { -webkit-transform: translateX(-3px); } 
    50% { -webkit-transform: translateX(3px); }
    100% { -webkit-transform: translateX(0); }
}

/*Side Navbar*/
.navbar-side {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding-top: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;    
}

#left-navbar {    
    padding: 20px 20px;
}

#right-bar {
    min-width: 300px;
}

.navbar-side-right {
    right: 0;
    left: auto;
    border-left: 1px solid #eee;
    border-right: none;
}

.navbar-side-right .navbar-hamburger {
    position: relative;
    top: -32px;    
    float: right;
    cursor: pointer;
}

.navbar-side-right.ng-enter {
    right: -300px;
    transition: right 250ms ease;
}

.navbar-side-right.ng-enter-active {
    right: 0px;
}

.navbar-side-right.ng-leave {
    transition: right 250ms ease;
}

.navbar-side-right.ng-leave-active {
    right: -300px;
}

.nav-side {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-side > .active > a {
    color: #fff;
    background-color: #428bca;
}

.nav-side > .active > a:hover {
    background-color: #428bca;
}

.bottom-buffer {
    margin-bottom: 15px;
}

.text-white, .navbar-brand.text-white {
    color: white;
}

.pd0 {
    padding: 0;
}